* {
    font-family: "Inter", serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eee9e9;
}

::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 5px;
    padding: 2px;
}

body {
    margin: 0px;
    padding: 0px;
    max-height: 550px;
    border-radius: 16px;
    background-color: #0f1923;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#logo {
    width: 64px;
    height: 64px;
}

.fundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    padding: 8px;
}

#botao {
    background-color: #214969;
    color: #4de2e8;
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: border 0.5s, background-color 0.5s;
}

#botao:hover {
    border: 1px solid #4de2e8;
    background-color: #173147
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    overflow: hidden;
    color: #fff;
    background-color: #214969;
}

thead th:first-child {
    border-top-left-radius: 16px;
}

thead th:last-child {
    border-top-right-radius: 16px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}

thead th {
    padding: 8px;
    background-color: #173147;
    color: #fff;
    font-weight: bold;
}

tbody td {
    border: 1px solid #173147;
    padding: 4px;
}

th,
td {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    max-width: 60px;
}

tr a {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
}

tr button {
    background-color: #d10808;
    color: #eee9e9;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    border: 1px solid #eee9e9;
}

tr button:hover {
    background-color: #173147;
    transition: background-color 0.5s;
}

tr a:hover {
    color: #4de2e8;
    transition: color 0.5s;
}