* {
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #173147;
}

::-webkit-scrollbar-thumb {
    background: #214969;
    border-radius: 8px;
}

#x{
    top: 5%;
    right: 3%;
    position: absolute;
    cursor: pointer;
    background-color: #173147;
    color: #4de2e8;
    border-radius: 100%;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
}

body {
    margin: 0px;
    padding: 0px;
    max-height: 550px;
    border-radius: 16px;
    background-color: #0f1923;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    padding: 16px;
}

#logo {
    width: 64px;
    height: 64px;
}

.fundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    padding: 8px;
    gap: 8px;
}

#botao,
button {
    background-color: #214969;
    color: #4de2e8;
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: border 0.5s, background-color 0.5s;
}

#botao:hover,
button:hover {
    border: 1px solid #4de2e8;
    background-color: #173147
}


.categoria-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    overflow: hidden;
    color: #fff;
    background-color: #214969;
}

thead th:first-child {
    border-top-left-radius: 16px;
}

thead th:last-child {
    border-top-right-radius: 16px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}

thead th {
    padding: 8px;
    background-color: #173147;
    color: #fff;
    font-weight: bold;
}

tbody td {
    border: 1px solid #173147;
    padding: 4px;
}

th,
td {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    max-width: 60px;
}

tr a {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
}

.remove-btn {
    background-color: #9b0a0a;
    color: #eee9e9;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    border: 1px solid #eee9e9;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 0.5s;
}

.remove-btn:hover {
    background-color: #d10808;
    transition: background-color 0.5s;
}

tr button:hover {
    background-color: #173147;
    transition: background-color 0.5s;
}

tr a:hover {
    color: #4de2e8;
    transition: color 0.5s;
}

#tela-produto {
    flex-direction: column;

    .edit-category {
        background-color: #214969;
        color: #4de2e8;
        font-weight: 700;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        transition: border 0.5s, background-color 0.5s;
    }

    .edit-category:hover {
        border: 1px solid #4de2e8;
        background-color: #173147
    }

    .delete-category {
        padding: 8px;
        background-color: #9b0a0a;
        color: #eee9e9;
        transition: background-color 0.5s;
        border: none;
    }

    .delete-category:hover {
        background-color: #d10808;
        color: #eee9e9;
        transition: background-color 0.5s;
        border: none;
    }

    .categoria-header {
        gap: 8px;
        display: flex;
        align-items: center;
    }

}

#escolha-categoria {
    margin: 4px;
    padding: 12px;
    background-color: #173147;
    border: 1px solid #4de2e8;
    border-radius: 8px;

    #categoria-content {
        gap: 8px;
        display: flex;
        flex-direction: column;

        div {
            gap: 8px;
            display: flex;
        }
    }

    input {
        width: 150px;
        background-color: #214969;
        color: #4de2e8;
        font-weight: 500;
        padding: 8px;
        border-radius: 8px;
        border: none;
        margin-right: 8px;
    }

    input:hover {
        border: 1px solid #4de2e8;
    }

    ::placeholder {
        font-weight: 500;
        color: #4de2e8;
        opacity: 0.3;
    }

    select {
        width: 80px;
        background-color: #214969;
        color: #4de2e8;
        font-weight: 500;
        padding: 8px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin-right: 8px;
    }

    select:hover {
        border: 1px solid #4de2e8;
    }

    #fechar-modal,
    .delete-category {
        background-color: #9b0a0a;
        color: #eee9e9;
        transition: background-color 0.5s;
        border: none;
    }

    #fechar-modal:hover,
    .delete-category:hover {
        background-color: #d10808;
        color: #eee9e9;
        transition: background-color 0.5s;
        border: none;
    }

    button {
        background-color: #214969;
        color: #4de2e8;
        font-weight: 500;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        transition: border 0.5s, background-color 0.5s;
    }

    button:hover {
        border: 1px solid #4de2e8;
        background-color: #173147
    }
}

h3 {
    font-size: 16px;
}